.side-menu{
    position: fixed;
    height: 100vh;
    width: 200px;
    background-color: white;
    // overflow-y: scroll;
}

.management-area {
    position: absolute;
    top: 4rem;
    left: 200px;
    right: 0;
}

.flex-container {
    margin: 10px 40px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}